// Base style sheet

body {
	background: url(cover-bg.jpg);
	background-attachment: fixed;
}

@mixin center-text{
	text-align:center;
}

footer{
	div p{
		font-size:1rem;
	}
}

ul,ol {
	list-style-position: inside;
}