.interior-container{



	.large-4 {

		div {
			background:#999;
			padding:1rem;
		}
	}

	div.exhibitor-entry {
		&:nth-child(odd) {
			background: rgba(0,0,0,0.1);
		}

		p {
			margin:.5rem 0;
		}

		p:first-child {
			@include grid-column(10);
		}

		p:last-child {
			@include grid-column(2);
		}		
	}

}

