@include keyframes(exhibitors) {
	from{
		top:-150px;
		opacity:0;
	}

	to{
		top:-15px;
		opacity:100;
	}

}

@include keyframes(speakers) {
	0%{
		right:260px;
		opacity:0;
	}

	50%{
		right:260px;
		opacity:0;
	}


	100%{
		right: 160px;
		opacity:100;
	}

}

@include keyframes(attendees) {
	0%{
		top:300px;
		opacity:0;
	}

	70%{
		top:300px;
		opacity:0;
	}


	100%{
		top: 100px;
		opacity:100;
	}

}

#home-panel {
	background:#eee;

	.lead {
		@include center-text;
		padding:3rem 2rem;
	}

	.large-4 {
		overflow:hidden;
		min-height: 300px;
		background:#ccc;
		
		a {
			background:rgba(140,140,140,.5);
			display:block;
			@include center-text;
			height:150px;
			width:150px;
			line-height:150px;
			border-radius:100%;
			color:#fff;

		}

		a#exhibitors {
			position:absolute;
			top:-15px;
			right:50px;
			@include animation(exhibitors .8s ease-out);
		}


		a#speakers {
			position:absolute;
			top:50px;
			right:160px;
			@include animation(speakers 1s ease-out);

		}

		a#attendees {
			position:absolute;
			top:100px;
			right:50px;
			@include animation(attendees 1.2s ease-out);
		}

	}
}

#home-news{
	background:#ddd;
	padding:2rem 0;
	margin-bottom:3rem;

	
}

#home-sponsors{
	@include center-text;

	h4{
		color:#aaa;
	}
}

div.exhibitors{

}


