@include keyframes(exhibitors) {
	from{
		top:-150px;
		opacity:0;
	}

	to{
		top:-15px;
		opacity:100;
	}

}

@include keyframes(speakers) {
	0%{
		right:260px;
		opacity:0;
	}

	50%{
		right:260px;
		opacity:0;
	}


	100%{
		right: 160px;
		opacity:100;
	}

}

@include keyframes(attendees) {
	0%{
		top:300px;
		opacity:0;
	}

	70%{
		top:300px;
		opacity:0;
	}


	100%{
		top: 100px;
		opacity:100;
	}

}

#home-panel {
	

	.lead {
		@include center-text;
		padding:3rem 2rem;
		color: #fff;
	}

	.audiences {
		overflow:hidden;
		min-height: 300px;
		
		
		a {
			// background:rgba(140,140,140,.5);
			display:block;
			@include center-text;
			height:300px;
			width:300px;
			line-height:300px;
			border-radius:100%;
			color:#fff;

		}

		a#exhibitors {
			background: url(callout-1.png) no-repeat 50% 50%;
			background-size: 100% auto;
			position:absolute;
			// changed from top: -15px; right: 50px;
			top:-45px;
			right:50px;
			@include animation(exhibitors .8s ease-out);
		}


		a#speakers {
			background: url(callout-2.png) no-repeat 50% 50%;
			background-size: 100% auto;
			position:absolute;
			// changed from top: 50px; right: 160px;
			top:30px;
			right:220px;
			@include animation(speakers 1s ease-out);

		}

		a#attendees {
			background: url(callout-3.png) no-repeat 50% 50%;
			background-size: 100% auto;
			position:absolute;
			top:100px;
			right:50px;
			@include animation(attendees 1.2s ease-out);
		}

	}
}

#middle-outer {background: #eee url(interior-blur2.jpg) no-repeat center center; background-size: 100%;}

#home-news{
	// background:#ddd;
	padding:2rem 0;
	margin-bottom:3rem;
	p {
		font-size: 1.2em; 
		font-weight: 300;
		text-shadow: 1px 1px 3px #333;
		color: #fff;
	}
	
}

#home-sponsors{
	@include center-text;

	h4{
		color:#aaa;
	}
}

div.exhibitors{

}

p.tagline {
	color:#fff;
	b {
		letter-spacing: .15em;
	}
}
